.container {
    display: flex;
    align-items: center;    /* Центрировать по горизонтали */
    text-align: center;      /* Центрировать текст по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    box-sizing: border-box;
}

.span_and_text{
    display: flex;
    box-sizing: border-box;
    margin-left: 160px;
    margin-top: 50px;
}

#span{
    position: relative;
    display: inline-block;
    /*font-size: 30px;*/
    /*margin-right: 60px;*/
    /*margin-top: 40px;*/
    width: 20px; /* Ширина стрелки */
    height: 20px; /* Высота стрелки */
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}


#span::after {
    content: '';
    position: absolute;
    top: 100%;
    left: -10%; /* Изменил left: 0 на left: 50% */
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-right-color: black; /* Изменил border-top-color на border-bottom-color для стрелки вниз */
    transform: translate(-100%, 30%); /* Центрирование по вертикали и горизонтали */
    display: block; /* Добавил display: block; */
    z-index: 1; /* Добавил z-index: 1; */
}

#text_1 {
    margin-left: 20px;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.hidden {
    display: none;
}

/* Стили для анимации печатания*/
#my_text::after {
  content: '|'; /* добавляем символ курсора */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}